@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div id="app">
    <div class="row">
        <h3>
            Dashboard
        </h3>
    </div>
    <div class="row">
        <div>
            <h4 style="color:#897b7b;">Enheder</h4>
        </div>
        <div style="width:100%; margin-left:auto;margin-right:auto; height: 160px; overflow:auto; white-space: nowrap;">
            
            <div  style="display: inline-block; margin-inline:10px;" v-for="item in items.slice(0,14)">
                <a v-bind:href="'/device/details?id=' + item.id">
                    <div class="device-icon">
                    <img v-bind:style="'filter: hue-rotate(' + item.id*item.id*12/item.id + 'deg);'" src="/images/ear.png" />
                
                <p style="text-align:center; font-size:12px; font-weight: 500; margin-top:12px; color:#897b7b;">{{item.location}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <h4>Seneste målinger</h4>
        </div>
    </div>
</div>

<script src="~/js/devices.js"></script>