@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div id="app">
    <div class="row">
        <h3>
            Dashboard
        </h3>
    </div>

    <div class="row">
        <div>
            <h4 class="subheader">Enheder</h4>
        </div>
        <div style="width:100%; margin-left:auto;margin-right:auto; height: 160px; overflow:auto; white-space: nowrap;">
            
            <div style="display: inline-block; margin-inline:10px;" v-for="item in devices.slice(0,14)">
                <a v-bind:href="'/device/details?id=' + item.id">
                    <div class="device-icon">
                    <img v-bind:style="'filter: hue-rotate(' + item.id*item.id*12/item.id + 'deg);'" src="/images/ear.png" />
                
                <p style="text-align:center; font-size:12px; font-weight: 500; margin-top:12px; color:#897b7b;">{{item.location}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div style="margin-top: 20px;" class="">
            <div class="row">
                <div>
                    <h4 class="subheader">Seneste målinger</h4>
                </div>
            </div>
            <div style="width:100%; margin-left:auto;margin-right:auto; height: 70px; overflow:auto; white-space: nowrap;">

                <div style="display: inline-block; margin-inline:10px;" v-for="item in measurements.slice(measurements.length-26, measurements.length-6)">
                <a v-bind:href="'/device/details?id=' + item.device.id">
                    <div class="device-icon">
                            <p style="text-align:center; font-size:10px; font-weight: 500; margin: 0px; margin-top:5px; color:#897b7b;">{{item.device.location}}</p>
                            <p v-bind:style="'text-align:center; font-size:12px; font-weight: 600; padding:0px; color:' + getColor(item.noiseLevel) + ';'">{{item.noiseLevel}}</p>
                    </div>
                </a>
            </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div>
                <h4 class="subheader">Forstå dine målinger</h4>
            </div>
        </div>
        <div style="background-color:#acc2e4; padding: 40px; margin-block:20px; border-radius:5px;">
            <div class="row">
                <div class="dbContainer">
                    <div class="dbDisplay" v-bind:style="'background-color:' + getColor(19)"></div>
                    <p>0-20</p>
                    <p>dB</p>
                </div>
                <div class="dbContainer">
                    <div class="dbDisplay" v-bind:style="'background-color:' + getColor(39)"></div>
                    <p>20-40</p>
                    <p>dB</p>

                </div>
                <div class="dbContainer">
                    <div class="dbDisplay" v-bind:style="'background-color:' + getColor(59)"></div>
                    <p>40-60</p>
                    <p>dB</p>
                </div>
                <div class="dbContainer">
                    <div class="dbDisplay" v-bind:style="'background-color:' + getColor(74)"></div>
                    <p>60-75</p>
                    <p>dB</p>

                </div>
                <div class="dbContainer">
                    <div class="dbDisplay" v-bind:style="'background-color:' + getColor(79)"></div>
                    <p>75-80</p>
                    <p>dB</p>

                </div>
                <div class="dbContainer">
                    <div class="dbDisplay" v-bind:style="'background-color:' + getColor(89)"></div>
                    <p>80-90</p>
                    <p>dB</p>

                </div>
                <div class="dbContainer">
                    <div class="dbDisplay" v-bind:style="'background-color:' + getColor(99)"></div>
                    <p>90-100</p>
                    <p>dB</p>
                </div>
                <div class="dbContainer">
                    <div class="dbDisplay" v-bind:style="'background-color:' + getColor(114)"></div>
                    <p>100-115</p>
                    <p>dB</p>
                </div>
                <div class="dbContainer">
                    <div class="dbDisplay" v-bind:style="'background-color:' + getColor(129)"></div>
                    <p>115-130</p>
                    <p>dB</p>
                </div>
                <div class="dbContainer">
                    <div class="dbDisplay" v-bind:style="'background-color:' + getColor(139)"></div>
                    <p>130+</p>
                    <p>dB</p>
                </div>
            </div>
        </div>
    </div>

<script src="~/js/test.js"></script>