@page
@model SonicEar_Frontend.Pages.measurementsModel
@{
}

<div id="app">
    {{errormessage}}
    <div class="">
        <div class="row">
            <div>
                <h3 class="table-header">
                    Målinger
                </h3>
                <table class="full-table shdw">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Enhedens placering</th>
                            <th>Tidspunkt</th>
                            <th>Måling</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in items">
                            <td>
                                {{item.id}}
                            </td>
                            <td>
                                {{item.device.location}}
                            </td>
                            <td>
                                {{item.timeStamp}}
                            </td>
                            <td>
                                {{item.noiseLevel}}
                            </td>
                            <td>
                                todo
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script src="~/js/measurement.js"></script>