@page
@model SonicEar_Frontend.Pages.NewDeviceModel
@{
}

<div id="app">
    <div v-if="confirmationmessage" class="infobox green">{{confirmationmessage}}</div>
    <div v-if="errormessage" class="infobox red">{{errormessage}}</div>
    <h1>Opret enhed</h1>
    <form>
        <label for="location">Enhedens lokation</label>
        <input class="txt-input" v-for="location" v-model="location" />
    </form>
    <button class="btn-form" v-on:click="createNewDevice()">Opret</button>
    <p v-if="response">{{ response }}</p>
</div>

<script src="~/js/newDevice.js"></script>