@page
@model SonicEar_Frontend.Pages.NewDeviceModel
@{
}

<div id="app">
    <div v-if="confirmationmessage" class="infobox green">{{confirmationmessage}}</div>
    <h1>Create new device</h1>
    <form>
        <label for="location">Location</label>
        <input v-model="location" />
    </form>
    <button v-on:click="createNewDevice()">Create</button>
    <p v-if="response">{{ response }}</p>
</div>

<script src="~/js/newDevice.js"></script>