@page
@model SonicEar_Frontend.Pages.Device.DeleteModel
@{
}
<div id="app">

    <div class="infobox red" v-if="errormessage">
        {{errormessage}}
    </div>
    <div class="infobox green" v-if="confirmationmessage">
        {{confirmationmessage}}
    </div>
    <div v-if="!confirmationmessage" class="infobox">
        Er du sikker på, at du vil slette denne enhed?
    </div>
    <h4>
        Enheds Id: {{item.id}}
    </h4>
    <p>
        Lokation: {{item.location}}
    </p>
    <div v-if="deviceDeleted">
        <button class="btn-form green" v-on:click="deleteDevice()">Ja</button>
        <a href="/device/index">
        <button class="btn-form red">Nej</button>
        </a>
    </div>
    <div v-if="!deviceDeleted"><a class="btn-form" href="/device/index">Gå tilbage</a></div>
</div>

<script src="~/js/deviceedit.js"></script>