@page
@model DevicesModel
@{
}
 <div id="app">
        {{errormessage}} 
        <div>
            <div class="row">
                <div>
                <h3 class="table-header">
                        Enheder
                    </h3>
                    <!--Søgefelt for enheder-->
                    <div class="search-div">
                        <div>
                            <input v-model="searchQuery" type="text" placeholder="Søg her:" />
                            <button class="search-button" v-on:click="search">Søg</button>
                        </div>

                    </div>
                <table class="full-table shdw">
                        <thead>
                            <tr>
                            <th style="width: 50px;">
                                <a class="sort-link"  v-bind:href="'/Device' + setSort('id')">#</a>
                            </th>
                            <th>
                                <a class="sort-link" v-bind:href="'/Device' + setSort('location')">Placering</a>
                            </th>
                            <th style="width: 100px;"></th>
                            <th style="width: 150px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in filteredItems" key="item.id">
                                <td>
                                    {{item.id}}
                                </td>
                                <td>
                                    {{item.location}}
                                </td>
                                <td>
                                <a v-bind:href="'/Device/Details?id='+ item.id">
                                    <button class="btn-round btn-circle shdw"><img src="~/images/arrow.png"/></button>
                                </a>
                                </td>
                            <td>
                                <a v-bind:href="'/Device/edit?id='+ item.id">
                                    <button class="btn-round btn-circle shdw"><img src="~/images/edit.png" /></button>
                                </a>
                                </td>
                               
                            </tr>
                        </tbody>
                    </table>
                </div>
               
            </div>
        </div>

    <div class="container">
        <div class="pages">
            <button class="page-btn" v-on:click="setPage(currentPage-1)"><img src="~/images/left.png" style="width:40px;" /></button>
            @*  <ul class="page-ul">
            <li v-for="index in pageAmount" :key="index" class="page-link" v-on:click="setPage(index)">{{index}}</li>
            </ul> *@
            <button class="page-btn" v-on:click="setPage(currentPage+1)"><img src="~/images/right.png" style="width:40px;" /></button>
        </div>
    </div>


</div>

    <script src="~/js/devices.js"></script>