@page
@model DevicesModel
@{
}
 <div id="app">
        {{errormessage}} 
        <div>
            <div class="row">
                <div>
                <h3 class="table-header">
                        Enheder
                    </h3>
                <table class="full-table shdw">
                        <thead>
                            <tr>
                            <th style="width: 50px;">
                                <a v-bind:href="'/Device' + setSort('id')">#</a>
                            </th>
                            <th>
                                <a v-bind:href="'/Device' + setSort('location')">Placering</a>
                            </th>
                            <th style="width: 100px;"></th>
                            <th style="width: 150px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in items">
                                <td>
                                    {{item.id}}
                                </td>
                                <td>
                                    {{item.location}}
                                </td>
                                <td>
                                <a v-bind:href="'/Device/Details?id='+ item.id">
                                    <button class="btn-round btn-circle shdw"><p><img style="width:25px"src="~/images/arrow.png"/></p></button>
                                </a>
                                </td>
                            <td>
                                <a v-bind:href="'/Device/edit?id='+ item.id">
                                    <button class="btn-round btn-circle shdw"><p><img style="width:25px" src="~/images/edit.png" /></p></button>
                                </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
               
            </div>
        </div>
    </div>

    <script src="~/js/devices.js"></script>