@page
@model measurementsModel
@{
}

 
<div id="app">
    {{errormessage}}
    <div class="">
        <div class="row">
            <div>
                <h3 class="table-header">
                    Målinger
                </h3>
                <!--Søgefelt for målinger -->
                <div class="search-div">
                    <div style="margin-bottom:10px;">
                        <input v-model="searchQuery" type="text" placeholder="Søg..." class="search-input"  />
                        <button class="btn-search " v-on:click="search">
                            <img style="width:20px; " src="/images/search.png" />
                        </button>
                    </div>
                </div>
                <table class="full-table shdw">
                    <thead>
                        <tr>
                            <th style="width: 50px;">
                                <a class="sort-link" v-bind:href="'/Measurement' + setSort('id')">#</a>
                            </th>
                            <th>
                                <a class="sort-link" v-bind:href="'/Measurement' + setSort('location')">Enhedens placering</a>
                            </th>
                            <th>
                                <a class="sort-link" v-bind:href="'/Measurement' + setSort('time')">Tidspunkt</a>
                            </th>
                            <th>
                                <a class="sort-link" v-bind:href="'/Measurement' + setSort('time')">Dato</a>
                            </th>
                            <th>
                                <a class="sort-link" v-bind:href="'/Measurement' + setSort('measurement')">Måling</a>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in filteredItems" :key="item.id">
                            <td>
                                {{item.id}}
                            </td>
                            <td>
                                <a style="color:black; text-decoration: none; font-weight:450;"v-bind:href="'/device/details?id='+item.device.id"> {{item.device.location}} </a>
                            </td>
                            <td>
                                {{parseInt(item.timeStamp.slice(11,13))+2}}:{{item.timeStamp.slice(14,16)}}
                            </td>
                            <td>
                                {{item.timeStamp.slice(8,10)}}/{{item.timeStamp.slice(5,7)}}/{{item.timeStamp.slice(0,4)}}
                            </td>
                            <td>
                                {{String(item.noiseLevel).slice(0,5)}}
                            </td>
                            <td>
                                <div v-bind:style="'background-color:' + getColor(item.noiseLevel)" class="level"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

<br/>
 
<div class="container">
    <div style="width:150px; margin-left:auto; margin-right:auto;">
            <button class="page-btn" v-on:click="setPage(currentPage-1)"><img src="~/images/pagearrow.png" style="width:60px; transform:rotate(180deg);" /></button>
            <button class="page-btn" v-on:click="setPage(currentPage+1)"><img src="~/images/pagearrow.png" style="width:60px;" /></button>
        </div>
</div> 


</div>


<script src="/js/measurementsindex.js"></script>