@page
@model measurementsModel
@{
}


<div id="app">
    {{errormessage}}
    <div class="">
        <div class="row">
            <div>
                <h3 class="table-header">
                    Målinger
                </h3>
                <!--Søgefelt for målinger -->
                <!--TODO// få filtreret søgningskritierer - kun til lokation og tidspunkter-->
                <div class="search-div">
                    <div>
                        <input v-model="SearchQuery" type="text" placeholder="Søgefelt - first try D:" />
                        <button class="search-button" v-on:click="search">Search</button>
                    </div>
                </div>
                <table class="full-table shdw">
                    <thead>
                        <tr>
                            <th style="width: 50px;">
                            <a v-bind:href="'/Measurement' + setSort('id')">#</a>  
                            </th>
                            <th>
                            <a v-bind:href="'/Measurement' + setSort('location')">Enhedens placering</a>
                            </th>
                            <th>
                            <a v-bind:href="'/Measurement' + setSort('time')">Tidspunkt</a>
                            </th>
                            <th>
                            <a v-bind:href="'/Measurement' + setSort('measurement')">Måling</a>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in items">
                            <td>
                                {{item.id}}
                            </td>
                            <td>
                                {{item.device.location}}
                            </td>
                            <td>
                                {{item.timeStamp}}
                            </td>
                            <td>
                                {{item.noiseLevel}}
                            </td>
                            <td>
                                <div v-bind:style="'background-color:' + getColor(item.noiseLevel)" class="level"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script src="~/js/measurements.js"></script>