@page
@model measurementsModel
@{
}

 
<div id="app">
    {{errormessage}}
    <div class="">
        <div class="row">
            <div>
                <h3 class="table-header">
                    Målinger
                </h3>
                <!--Søgefelt for målinger -->
                <!--TODO// få filtreret søgningskritierer - kun til lokation og tidspunkter-->
                <div class="search-div">
                    <div>
                        <input v-model="searchQuery" type="text" placeholder="Søg her:" />
                        <button class="search-button" v-on:click="search">Søg</button>
                    </div>
                </div>

                <table class="full-table shdw">
                    <thead>
                        <tr>
                            <th style="width: 50px;">
                                <a class="sort-link" v-bind:href="'/Measurement' + setSort('id')">#</a>
                            </th>
                            <th>
                                <a class="sort-link" v-bind:href="'/Measurement' + setSort('location')">Enhedens placering</a>
                            </th>
                            <th>
                                <a class="sort-link" v-bind:href="'/Measurement' + setSort('time')">Tidspunkt</a>
                            </th>
                            <th>
                                <a class="sort-link" v-bind:href="'/Measurement' + setSort('measurement')">Måling</a>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in filteredItems" :key="item.id">
                            <td>
                                {{item.id}}
                            </td>
                            <td>
                                {{item.device.location}}
                            </td>
                            <td>
                                {{item.timeStamp}}
                            </td>
                            <td>
                                {{item.noiseLevel}}
                            </td>
                            <td>
                                <div v-bind:style="'background-color:' + getColor(item.noiseLevel)" class="level"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

<br/>
 
<div class="container">
    <div style="width:150px; margin-left:auto; margin-right:auto;">
            <button class="page-btn" v-on:click="setPage(currentPage-1)"><img src="~/images/left.png" style="width:40px;" /></button>
            @*  <ul class="page-ul">
            <li v-for="index in pageAmount" :key="index" class="page-link" v-on:click="setPage(index)">{{index}}</li>
            </ul> *@
            <button class="page-btn" v-on:click="setPage(currentPage+1)"><img src="~/images/right.png" style="width:40px;" /></button>
        </div>
</div> 


</div>

 @* <script>

    let link = document.getElementsByClassName("link");

    let currentValue = 1;

    function activeLink() {
        for (l of link) {
            l.classList.remove("active");
        }
        event.target.classList.add("active");
        currentValue = event.target.value;
    }

    function backBtn(){
        if (currentValue < 6) { 
            for (l of link) {
                l.classList.remove("active");
            }
            currentValue--;
            link[currentValue - 1].classList.add("active");
        }
    }

    function nextBtn() {
        if (currentValue > 1) {
            for (l of link) {
                l.classList.remove("active");
            }
            currentValue++;
            link[currentValue - 1].classList.add("active");
        }
    }

</script>  *@

<script src="~/js/measurements.js"></script>